@model Tour

<h2>Добавление ноутбука</h2>

<form asp-controller="Tour" asp-action="Create" method="post">
    <p>
        <label>Title</label><br />
        <input type="text" asp-for="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </p>
    <p>
        <label>Description</label><br />
        <input type="text" asp-for="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </p>
    <p>
        <label>Country</label><br />
        <input type="text" asp-for="Country">
        <span asp-validation-for="Country" class="text-danger"></span>
    </p>
    <p>
        <label>Price</label><br />
        <input type="text" asp-for="Price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </p>
    <p>
        <label>StartDate</label><br />
        <input type="date" asp-for="StartDate">
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </p>
    <p>
        <label>EndDate</label><br />
        <input type="date" asp-for="EndDate">
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </p>
@*     <p>
        <label>IsHot</label><br />
        <input type="checkbox" asp-for="IsHot">
        <span asp-validation-for="IsHot" class="text-danger"></span>
    </p> *@

    <button type="submit">Добавить</button>
</form>